__pycache__/
*.py[cod]
*$py.class
*.so
Desktop.ini
dist/
.DS_Store
.venv/
*.egg-info/
.Python
env/
develop-eggs/
*.egg
.pytest_cache/
.tox/
.eggs/
.vscode/
*.log
.idea/
.mypy_cache/
Thumbs.db
.ruff_cache/
